<!DOCTYPE html>
<html lang="fr">
<head>
   <meta charset="utf-8">
   <title>Express base controller</title>
</head>
<body>
<h1>Express base controller</h1>
<ul>
<li><a href="/info">Info index forwarded to moto</a></li>
<li><a href="/info/car">Info car page with custom render</a></li>
</ul>
<div id="content">
   <%- body %>
</div>
<div id="footer">
   <div class="wrap"><img src="/img/powered/nodejs.png" alt="Node.js"/></div>
</div>
</body>
</html>